---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_SECRET_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
          ],
          "has_more": true,
          "total_count": 194,
          "url": "/v1/customers"
        }
  recorded_at: Wed, 15 Aug 2018 10:14:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?created%5Bgt%5D=1534241694&include%5B%5D=total_count&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_SECRET_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "total_count": 10,
          "url": "/v1/customers"
        }
  recorded_at: Wed, 15 Aug 2018 10:14:54 GMT
recorded_with: VCR 4.0.0
